.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  height: 100%;
  /* background: url(https://giffiles.alphacoders.com/212/212812.gif); */
}

.dashboard-card {
  background-color: rgb(36, 37, 37);
  padding: 20px;
  border: 2px solid rgba(3, 235, 243, 0.623);
  border-radius: 8px;

  display: flex;
  justify-content: space-between;

  opacity: .8;
  height: 80%;
  width: 80%;
}

.dashboard-title {
  color: rgb(30, 138, 180);
}

.user-gamelist {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 6px;

  margin-right: 12px;
  width: 50%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  width: 50%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 10px 0px 10px;
}

.user-email {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username {
  color: black;
  text-shadow: 0 0 2px rgba(3, 235, 243, 0.623);
  margin-bottom: 0px;
  font-size: 40px;
}

.email-info {
  color: rgb(13, 105, 105);
  text-shadow: 0 0 4px rgba(236, 234, 234, 0.377);
  margin-bottom: 2px;
  font-size: 14x;
}

.edit-info-link {
  text-decoration: none;
  color: rgb(13, 105, 105);
  font-size: 14px;  
}

.edit-info-link:hover {
  color: rgb(229, 235, 235);
}

h3 {
  font-weight: 500;
  color: aliceblue;
}