.dashboard-add-game {
  font-size: 14px;
  cursor: pointer;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  height: 100%;
}

.dashboard-card {
  background-color: rgb(36, 37, 37);
  padding: 20px;
  border: 2px solid rgba(3, 235, 243, 0.623);
  border-radius: 8px;

  display: flex;
  justify-content: space-between;

  opacity: .8;
  height: 80%;
  width: 80%;
}

.dashboard-game-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  
  color: rgba(3, 235, 243, 0.623);
  font-size: 20px;
}

.dashboard-title {
  color: rgb(30, 138, 180);
  text-align: center;  
}

.email-info {
  color: rgb(210, 214, 214);
  text-shadow: 0 0 4px rgba(14, 13, 13, 0.377);
  margin-bottom: 2px;
  font-size: 14x;
}

.edit-info-link {
  text-decoration: none;
  color: rgb(13, 105, 105);
  font-size: 14px;  
}

.game-image {
  margin: 10px;
}

.game-gallery-images {
  display: flex;
  overflow-x: auto;
  max-width: 100%;
}

.game-gallery-info {
  display: flex;
  align-items: center;
}

.game-gallery-info p {
  color: aliceblue;
  margin: 0px;
  margin-left: 4px;
}

h3 {
  font-weight: 500;
  color: aliceblue;
  text-align: center;
}

.plus-icon {
  margin-right: 4px;
}

.user-gamelist {
  display: flex;
  flex-direction: column;
  padding-left: 6px;
  justify-content: space-evenly;

  margin-right: 12px;
  width: 50%;
  height: 100%;
  align-items: center;
}

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;

  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 10px 0px 10px;
}

.user-email {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username {
  color: rgb(241, 237, 237);
  text-shadow: 0 0 2px rgba(3, 235, 243, 0.623);
  margin-bottom: 0px;
  font-size: 40px;

  text-align: center;
}

.user-icon {
  color: aliceblue;
  font-size: 200px;
}

.dashboard-add-game:hover {
  color: rgba(3, 235, 243, 0.623);
}

.game-gallery-info:hover .plus-icon {
  color: aliceblue;
}

.user-card:hover {
  box-shadow: 0 4px 8px 0 rgba(145, 142, 142, 0.2);
}

.edit-info-link:hover {
  color: rgb(255, 255, 255);
}

.user-gamelist:hover {
  box-shadow: 0 4px 8px 0 rgba(7, 124, 153, 0.507);
}

::-webkit-scrollbar {
  width: 20px;
  background-color: none;
}

::-webkit-scrollbar-thumb {
  background: rgb(13, 105, 105);
  border-radius: 10px;
}

@media only screen and (max-width: 700px) {
  .dashboard-card {
    background-color: rgb(36, 37, 37);

    height: 80%;
    width: 90%; 
  }

  .dashboard-gamelist-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dashboard-game-gallery > p {
    text-align: center;
  }

  .email-info {
    font-size: 14px;
  }

  .game-gallery-info > p {
    font-size: 16px;
  }

  h3 {
    font-size: 18px;
  }

  .user-icon {
    font-size: 140px;
  }

  .username {
    font-size: 24px;
  }
}


