.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  align-self: center;
  height: 10%;
  width: 35%;  
  opacity: .6;

  background-color: #2e2d2ed3; 
  border: 2px solid rgba(3, 235, 243, 0.623);
  border-radius: 8px;
  margin-bottom: 10px;
}

.footer-icon {
  margin: 0px 4px 8px 0px;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
  color: rgb(128, 124, 124);
}

.footer-link {
  display: flex;
  align-items: center;
  color: black;
  font-size: 16px;
}

.footer-container p {
  font-size: 14px;
  margin-bottom: 2px;
}

.footer-icon:hover {
  color: rgba(5, 191, 197, 0.623) ;
}

.line {
  border-top: .3px solid rgba(175, 178, 179, 0.623);
  width: 75%;
  margin: 2px 2px;
  opacity: .1;
}

.footer-container:hover {
  opacity: 1;
  transition: .8s;
  color: aliceblue
}

.footer-container:not(:hover) {
  transition: .8s;
}

.footer-container:hover .footer-icon {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 1300ms;
}

.footer-container:hover .line {
  opacity: .6;
}

@media only screen and (max-width: 390px) {
  .footer-container {
    width: 100%;
    background-color: #030303;
    color: aliceblue;
  }

  .footer-icon {
    opacity: 1;
  }
}