.edit-game-button {
  color: aliceblue;
  cursor: pointer;
}

.edit-game-options {
  display: flex;
  align-self: center;
  opacity: 0;
  margin-bottom: 12px;
}

.edit-game-icon {
  margin-right: 8px;
}

.game-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  height: 100%;
}

.game-details {
  background-color: rgb(22, 22, 22);
  padding: 20px;
  border: 2px solid rgba(3, 235, 243, 0.623);
  border-radius: 8px;

  opacity: .8;
  height: 75%;
  width: 35%;
  color: aliceblue;

  display: flex;
  justify-content: center;
}

.game-details-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;    
}

.game-description-info {
  margin: 20px 6px;
  border: 2px solid rgba(3, 235, 243, 0.164);
  border-radius: 4px;
  padding: 6px;
}

.game-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
}

.game-image-info {
  height: 325px;
  width: 325px;
  border: 2px solid rgba(3, 235, 243, 0.623);
  border-radius: 6px;
}

.game-title-info {
  color: rgba(3, 235, 243, 0.623);
  font-size: 30px;
  margin: 16px 6px 2px;
}

.game-details-message {
  color: rgba(3, 235, 243, 0.753);
  margin-top: 2px; 
  height: 5%;
}

.edit-game-button:hover {
  color: rgba(3, 235, 243, 0.623);
}

.game-image-container:hover > .edit-game-options {
  opacity: 1;
  transition: opacity 1000ms;  
}

@media only screen and (max-width: 480px) {
  .game-details {
    width: 80%;
    height: 70%;
  }

  .game-image-info {
    width: 200px;
    height: 200px;
  }

  .game-title-info {
    font-size: 20px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 760px) {
  .game-details {
    width: 70%;
  }

  .game-image-info {
    width: 300px;
    height: 300px;
  }

  .game-title-info {
    font-size: 25px;
  }

  .game-details-card {
    width: 90%;
  }
}

@media only screen and (min-width: 761px) and (max-width: 1000px) {
  .game-details {
    width: 60%;
  }

  .game-image-info {
    width: 300px;
    height: 300px;
  }
}
