.home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: url(https://wallpaperaccess.com/full/2825710.gif);
}

.home-card {
  background-color: rgb(227, 235, 235);
  padding: 20px;
}

.home-title{
  color: darkgray;  
}