.add-game-button {
  display: flex;
  align-items: center;
  background-color: rgba(184, 178, 178, 0.596);
  font-size: 20px;
  
  margin-top: 20px;
  cursor: pointer;
  border-radius: 10px;
  color: rgba(3, 235, 243, 0.795);

  padding: 4px;
}

.add-button-icon {
  margin-right: 4px;
}

.eye-open {
  display: none;
}

.eye-closed {
  display: block;
}

.gamelist-card {
  background-color: rgb(22, 22, 22);
  padding: 30px;
  border: 2px solid rgba(3, 235, 243, 0.623);
  border-radius: 8px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);  
  opacity: .8;

  align-items: center;
  justify-items: center;
  height: 80%;
  width: 95%;
}

.gamelist-card-empty {
  background-color: rgba(22, 22, 22, 0.596);
  padding: 30px;
  border: 2px solid rgba(3, 235, 243, 0.623);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 50%;
  width: 40%;
}

.gamelist-info {
  display: flex;
  flex-direction: column;
  align-items: center;  
  background-color: rgba(3, 31, 54, 0.829);

  border: 2px solid rgba(3, 235, 243, 0.623);
  border-radius: 4px;
  cursor: pointer;
  height: 90%;

  width: 80%;
}

.game-image {
  height: 120px;
  width: 120px;
  border: 2px solid rgba(3, 235, 243, 0.623);
  border-radius: 4px;
}

.game-title {
  font-size: 20px;
  font-weight: bold;
  color: rgba(243, 245, 245, 0.966);
  margin-top: 10px;

  margin-bottom: 4px;
}

.my-game-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  height: 100%;
}

.add-game-button:hover {
  background-color: rgba(3, 235, 243, 0.438);
  transition: .5s;
  color: black
}

.gamelist-back-button:hover {
  color: rgba(3, 235, 243, 0.623);
}

.gamelist-info:hover {
  scale: 1.1;
  transition: .5s;
  opacity: 1;
}

.gamelist-info:not(:hover) {
  transition: .7s;
}

.gamelist-info:hover .eye-closed {
  display: none;
}

.gamelist-info:hover .eye-open {
  display: block;  
}

@media only screen and (max-width: 400px) {
  .game-image {
    height: 100px;
    width: 100px;
  }
}

@media only screen and (max-width: 1000px) {
  .gamelist-card {    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);  
    padding: 10px;
    
  }

  .game-title {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1200px) {
  .game-title {
    font-size: 18px;
  }
}


