nav {
  background: #2e2d2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.home {
  padding-left: 20px;
}

.login-container {
  display: flex;  
  padding-right: 20px;  
}

.login {
  margin-right: 8px;
}
