a {
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;  
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  background: rgba(22, 22, 22, 0.596);

  border: 2px solid rgba(31, 32, 32, 0.459);
  border-radius: 4px;
}

.main-nav p {
  margin: 0px;
}

.login-container {
  display: flex;  
}

.login, .sign-up, .navbar-link {
  display: flex ;
  align-items: center;
  padding: 20px;
}

.navbar-dashboard-link {
  display: flex ;
  align-items: center;
  justify-content: center;
  height: 100%;
  
  padding: 20px;
}

.icon {
  margin-right: 6px; 
  color: rgb(247, 244, 244); 
}

.navbar-link:hover, .navbar-dashboard-link:hover {
  color: rgb(3, 235, 243);
  background: var(--bg-secondary);
}

.navbar-link:hover .icon, .navbar-dashboard-link:hover .icon {
  color: rgb(3, 235, 243);
}

@media only screen and (max-width: 500px) {
  .login, .sign-up, .navbar-link {
    justify-content: space-between;
  }

  .navbar-link, .navbar-dashboard-link {
    font-size: 12px;
  }

  .navbar-dashboard-link > p {
    display: flex;
    align-items: center;
  }

}

