nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  
  background: #2e2d2ed3;
  border: 2px solid rgba(31, 32, 32, 0.459);
  border-radius: 4px;
}

.login-container {
  display: flex;  
  padding-right: 20px;  
}

.login, .sign-up, .navbar-link {
  display: flex ;
  align-items: center;
  padding: 10px;
}

.icon {
  margin-right: 6px; 
  color: rgb(247, 244, 244); 
}

a {
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;  
}

a:hover {
  color: rgb(3, 235, 243);  
}

.navbar-link:hover .icon {
  color: rgb(3, 235, 243);
}

