.sign-up-input {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(3, 243, 103, 0.521);
  outline: none;

  color: aquamarine;
}

h1 {
  color: aliceblue;
}

.signup-button {
  background-color: rgba(155, 155, 155, 0.26);
  font-size: 24px;
  margin-top: 20px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: rgba(3, 243, 103, 0.459);
  transition: .5s;
}

.signup-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;  
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  background-color: rgba(63, 63, 63, 0.856);
  height: 50%;
  width: 25%;

  border: 1px solid rgba(3, 243, 103, 0.459);
  border-radius: 8px;
}

.error-signup {
  color: rgb(3, 243, 103);
  margin-top: 12px; 
  height: 5%; 
}

.email, .name, .password {
  margin-bottom: 20px;
}

.signup-form:hover {
  scale: 1.1;
  transition: .6s;
}
.signup-form:not(:hover) {
  transition: .7s;
}

