:root {
  font-size: 16px;
  --bg-primary: #2e2d2ed3;
  --bg-secondary: #2c2b2ce8;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url(https://wallpaperaccess.com/full/2825710.gif);  
}

.navbar {
  height: 8vh;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}